<div class="adminLogin">
    还没有管理员，请设置管理员密码
    <form action="/adminLogin" method="post">
        <input type="text" placeholder="请输入管理员密码" class="input_pwd" name="password">
        <input type="text" placeholder="请输入管理员真实姓名" class="input_pwd2" name="rel_name">
        <input type="text" placeholder="请输入管理员出生日期" class="input_pwd3" name="born_date">
        <button type="submit" class="button_sure">确认</button>
    </form>
</div>


