<div class="createChe">
    <form action="/create_che" method="post" enctype="multipart/form-data" accept="image/gif,image/jpeg">
        <div>
            字母数字注册号（唯一）: <input type="text" name="register_number">
        </div>
        <div>
            制造商名称: <input type="text" name="maker">
        </div>
        <div>
            型号: <input type="text" name="model">
        </div>
        <div>
            车型年: <input type="text" name="year">
        </div>
        <div>
            起始里程值: <input type="text" name="start_value">
        </div>
        <div>
            车辆颜色: <input type="text" name="color">
        </div>
        <div>
            车辆拥有的座椅数量: <input type="text" name="nums">
        </div>
        <div>
            车辆照片: <input type="file" name="picture_path">
        </div>
        <button type="submit">创建</button>
    </form>
</div>