<div class="index">
    <h1>首页</h1>
    <div class="user">
        <h3>用户</h3>
        <div id="index_register">用户注册</div>
        <div id="index_out_login">退出登录</div>
        <div id="index_user_manage">信息查看</div>
        <div id="index_user_edit">修改信息</div>
    </div>

    <div class="user">
        <h3>预定</h3>
        <div id="see_can_book" >预订车辆</div>
        <div id="my_book">我的预定</div>
    </div>
</div>

<script>
    let index_register = document.getElementById('index_register')
    let index_out_login = document.getElementById('index_out_login')
    let index_user_manage = document.getElementById('index_user_manage')
    let index_user_edit = document.getElementById('index_user_edit')
    let see_can_book = document.getElementById("see_can_book")
    let my_book = document.getElementById("my_book")
    index_register.onclick = function(e){
        document.location.replace("/register");
    }

    index_out_login.onclick = function(e){
        document.location.replace('/login');
    }

    index_user_manage.onclick = function(e){
        document.location.assign('/user_msg');
    }

    index_user_edit.onclick = function(e){
        document.location.assign('/user_msg_edit')
    }
    see_can_book.onclick = function(e){
        document.location.assign('/see_can_book')

    }

    my_book.onclick = function(e){
        document.location.assign('/my_book')
        
    }
</script>