<div class="login">
    <div>请先登录</div>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="请输入用户名">
        <input type="password" name="password" placeholder="请输入密码">
        <button type="submit">确认</button>
    </form>
    <div>
        <a>还没账号？点击去注册</a>
    </div>
</div>
<script>
    let res = document.getElementsByTagName('a')[0]
    
    res.onclick = function(){
        document.location.replace("/register");
    }
</script>