<div class="row">
    <div class="page-header">
        <h1>Submission successful!</h1>
    </div>

    {{!TODO 7) Add a table displaying the provided data. }}
    <table class="table">
        <tr>
            <th>name</th>
            <th>address</th>
            <th>phoneNum</th>
        </tr>
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.phoneNum}}</td>
        </tr>
    </table>
</div>